<% if Rails.env.development? %>
  <div>
    <p>Jogo do dia: <b><%= @current_game.name %></b></p>
  </div>

  <div class="mt-10">
    Jogos anteriores:

    <ul class="list-disc">
      <% @games.order(created_at: :desc).each do |game| %>
        <li class="ml-5"><%= "#{game.name} (#{game.created_at.to_formatted_s(:long_ordinal)})" %></li>
      <% end %>
    </ul>
  </div>

  <% console %>
<% end %>

<div class="text-center mt-10 m-auto">
  <%= tag.form(
    action: guess_path,
    method: "get",
    data: {
      turbo_frame: "guesses",
      controller: "form",
      action: "turbo:submit-end->form#clearInput"
    }
  ) do %>
    <label for="name"><b>GUESS THE GAME</b></label>
    <fieldset class="mt-2">
      <input class="w-80" type="text" name="name" id="name" placeholder="Digite um jogo" required data-form-target="input" />
      <button class="ml-2" type="submit" data-turbo-submits-with="Comparando...">Enviar</button>
    </fieldset>
  <% end %>

  <turbo-frame id="guesses">
    <%= render "guesses/show", locals: { player_game: @player_game } %>
  </turbo-frame>
</div>
